*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: #b2bec3;
   font-family: 'Montserrat', sans-serif;  
}

h1{
   text-align: center; 
   margin: 2rem;
   font-family: 'Cormorant SC', serif;
   font-size: 3rem;
   font-weight: 600;
}

.loader-container {
    display: none;
}

.loader {
    width: 10px;
    height: 35px;
    background: #182C61;
    margin: 4px;
}

.loader1{
    animation: loading 1s ease-in-out infinite alternate;
}

.loader2{
    animation: loading 1s ease-in-out infinite alternate 0.5s;
}

.loader3{
    animation: loading 1s ease-in-out infinite alternate 0.8s;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details{
    text-align: center;
}

.ip-display,
.location-display,
.geo-display {

    margin: 0.5rem;
    font-size: calc(2rem + 1vw);
}

.lookup-btn{
    border: none;
    background: #27ae60;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 250ms linear;
}

.lookup-btn:hover {
    opacity: 0.7;
}


@keyframes loading{
    from{
        transform: scale(1);        
    }
    to {
        transform: scale(1.3);
    }

}